* {
  box-sizing: border-box;
  color: #777777;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url(../images/pink_rice.png); 
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  font-weight: bold;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

a {
  float: left;
  text-decoration: none;
  padding: 0;
}


header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
}

a h1 {
  padding-left: 14px;
  height: 58px;
  text-align: center;
  background-color: #4aaaa5;
  color: #ffffff;
}


nav {
  float: right;
  background-color: #fff;
  height: 20px;

}

nav a {
  margin: 22px 7px 22px 7px;
}

.link-border {
  border-width: 0 1px;
  border-color: #cccccc;
  border-style: solid;
  padding-left: 14px;
  padding-right: 14px;
}


.content {
  border-color: #dddddd;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 40px;
  min-height: 100%;
}

/*.content:after {
    content: " ";
    display: table;
    clear: both;
}*/

.content-section {
  float: left;
  background-color: #ffffff;
  width: 650px;
  border: 1px solid #cccccc;
  padding: 30px;
  /*margin-bottom: 40px;*/
}

.connect-section {
  float: right;
  background-color: #ffffff;
  width: 270px;
  border: 1px solid #cccccc;
  padding: 20px;
}

.connect-links {
  width: 70px;
  margin: 0;
  padding: 0;
}

.h1-content {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.h2-connect {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 18px;
  margin-bottom: 20px;
}


/*About Page*/
#profile-pic {
  padding: 6px 10px 0px 0;
  height: 180px;
  float: left;
}

/* Contact Page*/
textarea {
  width: 100%;
  height: 200px;
  padding: 4px 8px;
  resize: none;
  margin: 6px 0px 22px 0px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

input[type=text], select {
  width: 100%;
  padding: 4px 8px;
  display: inline-block;
  margin: 6px 0px 22px 0px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

input[type=email], select {
  width: 100%;
  padding: 4px 8px;
  display: inline-block;
  margin: 6px 0px 22px 0px;
  border: 1px solid #cccccc;
  font-size: 12px;
}

button {
  background-color: #4aaaa5;
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/*Portfolio Page*/
.a-port {
  width: 276px;
  position: relative;
}

.label {
  width: 276px;
  height: 62px;
  background-color: #4aaaa5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  padding: 14px;
}

.label h3 {
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  padding: 6px;
}

.portfolio-images {
  width: 276px;
  margin-top: 12px;
  margin-bottom: 24px;
  float: left;
  position: relative;
}


.right {
  float: right;
}

.left {
  float: left;
}

/* Footer */
footer {
  clear: both;
  height: 60px;
  background-color: #666;
  text-align: center;
  padding: 30px 0;
  border-top: 6px solid #4aaaa5;
}

footer p {
  font-size: 12px;
}
